extends layout.pug
block content
    div(style={
        'text-align':'center'
    })
        h1 DiceBags 
        p Collect Dice on your server! 
        a.button(href="#") Sign in With Discord!
        br
        a(href="#") Click Here to Invite Me